{% for s in sections %}
  <section class="section s--catalog" data-role="catalog" id="{{ s.blockID }}" {{ s.products is empty ? 'style="display:none;"' : '' }} {% if s.name == 'TEST' %} style="display: none;" {% endif %}>
    <div class="container">
      <div class="s-title catalog-title">
        <h4 class="title-2">{{ s.name }}</h4>
      </div>
      <div class="s-content catalog-content">
          <div class="items-list catalog-list js-with-additional" data-additional-count ="{{ s.ings_count ? s.ings_count : '7' }}">
          <div class="block-in row--alt row">
            {% for item in s.products.sortBy('sort') %}
              {% set isMulti = (s.hasAdditional == 1 or (item.price_half and item.article_half)) %}
              {% set isHalf = (item.price_half and item.article_half) %}
              {% set minPrice = isHalf ? item.price_half : item.price %}
              {% if item.hide == 0 %}
                 <div class="modal modal-o fade item--pizza" data-role="item" data-id="{{ item.id }}" id="product-modal-{{ item.id }}" data-price="{{ minPrice }}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered long_modal2" role="document">
                          <div class="modal-content">
                            <div class="modal-body">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                                <div class="modal_flex">
                                  <div class="modal_left">
                                    <div class="modal_img">
                                      <div class="img--centered img" data-role="lazyimg">
                                            {% set blockID = s.blockID|replace({'-block':''}) %}
                                            <img data-src="{{ item.image ? item.image : '/img/noimage/' ~ blockID ~ '.svg' }}" class="lazy full_img" />
                                          </div>
                                    </div>
                                  </div>
                                  <div class="modal_right">
                                    <div class="catalog-item-in">
                                          <div class="catalog-item-title">{{ item.name }}</div>
                                    </div>
                                    <div class="post_ings" data-id="{{ item.id }}">
                                      {{ item.description }}
                                    </div>
                                    <div class="modal_items">
                                      {% if isMulti %}
                                          {% if isHalf %}
                                              <div class="catalog-item-sizes">
                                                  <input type="radio" data-article="{{ item.article_half }}" data-size="half" data-price="{{ (item.price_half/100)|number_format(2, '.', ' ') }}" name="size-{{ item.id }}" id="size-{{ item.id }}-1" checked /> <label for="size-{{ item.id }}-1">4 Stk</label>
                                                  <input type="radio" data-article="{{ item.article }}" data-size="full" data-price="{{ (item.price/100)|number_format(2, '.', ' ') }}" name="size-{{ item.id }}" id="size-{{ item.id }}-2" /> <label for="size-{{ item.id }}-2">8 Stk</label>
                                              </div>
                                          {% endif %}
                                          <div class="catalog-item-add text--center">
                                            {% if item.addIngridients is not empty or item.removeIngridients is not empty %}
                                              {% include 'src/index/ingridients.html.twig' %}
                                            {% endif %}
                                          </div>
                                        {% endif %}
                                        <div class="btn_flex_box hidden-xs"> <!-- pc btns -->
                                          <div class="catalog-item-controls w-left">
                                            <button type="button" class="btn btn--calc btn--minus" data-button="minus" disabled>
                                              <i class="icon icon-minus"></i>
                                            </button>
                                            <div class="value text--center">
                                              <span class="text--gray"><span class="prodCount" data-output="count" data-id="{{ item.id }}">1</span> x </span><b><span data-output="amount"></span> EUR</b>
                                            </div>
                                            <button type="button" class="btn btn--calc btn--plus" data-button="plus">
                                              <i class="icon icon-plus"></i>
                                            </button>
                                          </div>
                                          <div class="catalog-item-button w-right">
                                            <button type="button" class="btn btn--primary btn--block cartAdd" data-id="{{ item.id }}"> In den Warenkorb </button>
                                          </div>
                                        </div>
                                        <input type="hidden" name="price" value="{{ minPrice }}" />
                                        <input type="hidden" name="count" value="1" />
                                    </div> 
                                  </div>
                                </div>
                            </div>
                           
                          </div>
                        </div>
                         <div class="btn_flex_box visible-xs xs-fixed"> <!-- mobile btns -->
                            <div class="catalog-item-controls w-left">
                              <button type="button" class="btn btn--calc btn--minus" data-button="minus" disabled>
                                <i class="icon icon-minus"></i>
                              </button>
                              <div class="value text--center">
                                <span class="text--gray"><span class="prodCount" data-output="count" data-id="{{ item.id }}">1</span> x </span><b><span data-output="amount"></span> EUR</b>
                              </div>
                              <button type="button" class="btn btn--calc btn--plus" data-button="plus">
                                <i class="icon icon-plus"></i>
                              </button>
                            </div>
                            <div class="catalog-item-button w-right">
                              <button type="button" class="btn btn--primary btn--block cartAdd" data-id="{{ item.id }}"> In den Warenkorb </button>
                            </div>
                          </div>
                  </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="item catalog-item item--pizza" data-role="item" data-id="{{ item.id }}">
                      <div class="stickers">
                          {% if item.novelty == "1" %}
                              <div class="item-label label--green">neu</div>
                          {% endif %}
                          {% if item.hit == "1" %}
                              <div class="item-label label--yellow">hit</div>
                          {% endif %}
                          {% if item.vegan == "1" %}
                              <div class="item-label" style="background: #8dca71;">vegetarisch</div>
                          {% endif %}
                          {% if item.sale > 0 %}
                              <div class="item-label label--red">до {{ item.sale }}%</div>
                          {% endif %}
                      </div>

                    <div class="stickers">
                         {{ item.hit ? '<div class="item-label label--yellow">hit</div>' : '' }}
                          {{ item.novelty ? '<div class="item-label label--green">neu</div>' : '' }}
                          {{ item.halal ? '<div class="item-label label--green2">ohne Schweinefleisch</div>' : '' }}
                    </div>
                 
                    <div class="catalog-item-img text--center">
                      <div class="img--centered img" data-role="lazyimg">
                        {% set blockID = s.blockID|replace({'-block':''}) %}
                        <img data-src="{{ item.image ? item.image : '/img/noimage/' ~ blockID ~ '.svg' }}" class="lazy {{ s.id == 50 ? 'full_img' : ''}}" />
                      </div>
                    </div>
                    <div class="catalog-item-in">
                      <div class="catalog-item-title">{{ item.name }}</div>
                      <div class="catalog-item-meta text--gray">{{ item.description }}</div>
                    </div>                    
                    <div class="catalog-item-button cbtn_flex">
                      {% if item.noavailable %}
                        <div class="product_price">Nicht verfügbar</div>
                      {% else %}
                        <div class="product_price">{{ isMulti ? ' Ab ' : ' '  }} <span>{{ (minPrice/100)|number_format(2, '.', ' ') }}</span> EUR</div>
                        {% if isMulti %}
                          <button type="button" class="btn btn--primary btn--block" data-toggle="modal" data-target="#product-modal-{{ item.id }}"> Wählen </button>
                        {% else %}
                          <button type="button" class="btn btn--primary btn--block cartAdd" data-id="{{ item.id }}"> In den Warenkorb </button>
                        {% endif %}
                      {% endif %}
                    </div>
                </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Combo Modal -->
<div class="modal modal-o fade" id="combo-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!-- Product Modal -->
  <div class="modal modal-o fade" id="product-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

{% endfor %}