<div class="catalog-item-sizes">


{% for pizzaSetting in pizzaSettings %}

{% set sizeval = pizzaSetting.name|replace({'см':''}) %}
	
	{% if pizzaSetting.traditionaldough == 1 or pizzaSetting.thindough == 1 %}
	{% set break = false %}
	{% if (sizeval == 25 and item.traditionaldough == '1') %}
	  {% set break = true %}
	{% endif %}
	{% if break == false %}
	   <input type="radio" data-setting="{{ pizzaSetting.id }}" data-size="{{ sizeval }}"
	    {% for price in item.prices %}
	      {% if not ('35смП' in price.name) %}
	        {% set sizeattr = price.name|replace({ (item.name) : '', ' ' : '', 'см' : '' }) %}
	        {{ sizeattr == sizeval ? ' data-price=' ~ price.value : '' }}
	        {{ sizeattr == sizeval ~ 'Т' ? ' data-price-T=' ~ price.value : '' }}
	      {% endif %}
	    {% endfor %}
	    name="size-{{ item.id }}" id="size-{{ item.id }}-{{ sizeval }}" {{ loop.first ? ' checked' : '' }} />
	    <label for="size-{{ item.id }}-{{ sizeval }}">{{ pizzaSetting.name }}</label>
	{% endif %}
	{% endif %}

{% endfor %}
</div>
{% set i = 0 %}
{% for pizzaSetting in pizzaSettings %}
	{% set i = i + 1 %}
	<div class="catalog-item-types" id="testo-{{ pizzaSetting.id }}" {{ i != '1' ? ' style="display: none"' : '' }}>
		{% if item.traditionaldough != '1' and  pizzaSetting.traditionaldough == 1 %}
		  <input type="radio" name="type-{{ item.id }}"  id="types-{{ item.id }}-1{{i}}" data-text="традиционное"/ {{ i == '1' ? ' disabled' : '' }}>
		  <label for="types-{{ item.id }}-1{{i}}">Традиционное</label>
		{% endif %}
		{% if item.thindough != '1' and  pizzaSetting.thindough == 1 %}
		  <input type="radio" name="type-{{ item.id }}" id="types-{{ item.id }}-2{{i}}" data-text="тонкое" {{ loop.first != true ? ' disabled' : '' }} />
		  <label for="types-{{ item.id }}-2{{i}}">Тонкое</label>
		{% endif %}
	</div>

{% endfor %}


