<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="{% block keywords %}{{ seo.keywords is defined ? seo.keywords : 'Sushi\'s Nook' }}{% endblock %}">
	<meta name="description" content="{% block description %}{{ seo.description is defined ? seo.description : 'Sushi\'s Nook' }}{% endblock %}">
	<title>{% block title %}{{ seo.title is defined ? seo.title : 'Sushi\'s Nook' }}{% endblock %}</title>
	<meta name="HandheldFriendly" content="true">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- set page scale -->
    <script type="text/javascript">
      var original = {
        phone: 414,
        tablet: 769
      };

      function getScale()
      {
        var vh = window["innerHeight"] * .01;
        var width = window["innerWidth"] || document["documentElement"]["clientWidth"] || document["body"]["clientWidth"];
        var scale = width * 16 / original["phone"];
        if (width < original["tablet"])
        {
          document["documentElement"]["style"].setProperty("font-size", scale + "px");
          document["documentElement"]["style"].setProperty("--vh", vh + "px");
        }
        else
        {
          document["documentElement"]["style"].removeProperty("--vh");
          document["documentElement"]["style"].removeProperty("font-size");
        }
      };

      var width2 = window["innerWidth"] || document["documentElement"]["clientWidth"] || document["body"]["clientWidth"];
      if(width2 > 1000){
        window.onresize = function(event) { getScale();  };
      }
      
      getScale();
    </script>
      <link rel="preload" href="/css/style.min.css" as="font">
      <link rel="preload" href="/css/dev.min.css" as="font">

      <link rel="stylesheet" href="/css/style.min.css">
      <link rel="stylesheet" href="/css/dev.min.css">
      <link rel="stylesheet" href="/css/new.css">

	<script>
		var lang = '{{ lang }}';
	</script>

    <meta name="facebook-domain-verification" content="earm669m490cc4w3nymk28bg8sjnlp" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TB6JSC9');</script>
    <!-- End Google Tag Manager -->

</head>
<body data-lang="{{ lang }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TB6JSC9"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="body_wrap">
{#    <div class="running--line">#}
{#      <span>#}
{#        Уважаемые посетители нашего сайта. На данный момент сайт находится в режиме тестирования. Приносим извинения за временные неудобства.#}
{#      </span>#}
{#    </div>#}
      <div class="use-cookie" id="js-use-cookie" style="display: none;">
          <div class="container">
              <div class="use-cookie__container">
                  <span class="use-cookie__text">
                      Sushinook.de verwendet Cookies. Wir werten damit die Seitennutzung aus und verbessern das Nutzungserlebnis. Letztlich auch um dir passende für Dich interessante redaktionelle und werbliche Inhalte anzuzeigen. Cookies werden teilweise auch von Drittanbietern gesetzt. Weitere Infos finden Sie in unserer
                      <a target="_blank" href="/page/31-datenschutzerkl-rung.html" target="_blank">Datenschutzerklärung</a>.
                  </span>
                  <button class="btn btn--primary btn--submit" type="button" id="js-accept-cookie">Verstanden</button>
              </div>
          </div>
      </div>
      <div class="whatsapp" id="js-whatsapp">
          <a target="_blank" href="https://api.whatsapp.com/send?phone=4915259812312" class="whatsapp__link">
              <img src="/img/ico-whatsapp.svg" alt="WhatsApp">
          </a>
      </div>
      {% if isCart == false %}
          <!-- check bonuses -->
          <div class="check-bonuses" id="js-check-bonuses">
              <button class="btn btn--secondary btn--block" type="button" data-toggle="modal" data-target="#check-boni">Boni prüfen</button>
          </div>

          <div class="modal modal-o test modal-mini fade" id="check-boni" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <form class="orderForm" style="width: 100%;">
                      <input type="hidden" name="cod_sms" value="{{ random(1111, 9999) }}">
                      <div class="modal-content">
                          <div class="modal-body">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                              </button>
                              <div class="form-title">
                                <h3 class="title-3">Boni prüfen</h3>
                              </div>
                              <div style="width: 100%">
                                  <div class="col-12">
                                      <div class="form-group">
                                          <label class="control-label">Handy<sup>*</sup></label>
                                          <div class="controls">
                                              <input type="tel" class="form-control" id="js-phone" name="phone" value="" data-inputmask="'alias':'phone', 'mask':'+49 9999999999[9]'" placeholder="+49 " required="" inputmode="text">
                                          </div>
                                          <div class="controls">
                                              <button class="btn btn--primary js-submit_code" type="button" data-modal="true" style="margin-top: 10px;">Senden Sie mir den WhatsApp-Code</button>
                                              <button class="btn btn--primary" type="button" id="js-check-bonuses-button" style="display: none; margin-top: 10px;">Boni prüfen</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <!-- /check bonuses -->
      {% endif %}

  	{% block body_content %}
  	{% endblock %}
  </div>
	<script type="text/javascript">
      var DEVICE;
  </script>
  
  <script src="/js/cookie.js" defer></script>
  <script src="/js/interface.js" defer></script>
  <script src="/js/forms.js" defer></script>
  <script src="/js/dev.js" defer></script>
	{% block other_scripts %}
	{% endblock %}


</body>
</html>