{% extends 'src/layout.html.twig' %}

{% block content %}
	<main class="content">
  <!-- breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ul class="list--inline">
        <li>
          <a href="/{{ lang }}/">{{ Translation.of('Main') }}</a> <i class="icon fa fa-chevron-right"></i>
        </li>
        <li>{{ combo.name }}</li>
      </ul>
    </div>
  </div><!-- /breadcrumbs -->
  <!-- section-combo -->
  <section class="section s--combo" data-role="combo">
    <div class="container">
      <div class="s-title combo-title">
        <h1 class="title-1" data-id="{{ combo.id }}">{{ combo.name }}</h1>
      </div>
      <div class="s-tabs combo-tabs">
        <ul class="list--inline comboTabs" role="tablist">
          {% for s in sections %}
            {% set blockName = s.blockID|replace({ '-block':'' }) %}
            {% if limit[blockName].val > 0 %}
              <li role="presentation">
                <a href="#combo-tab-{{ s.id }}" class="link--block comboTabsItem" aria-controls="combo-tab-{{ s.id }}" role="tab" data-toggle="tab">
                  <div class="img hidden-sm">
                    <img src="{{ s.icon }}" srcset="{{ s.icon }} 1x, {{ s.icon2x }} 2x" class="img--cover" />
                  </div>
                  <div class="text">{{ s.name }}</div>
                  <div class="count green" data-output="counter">{{ s.products.count() }}</div>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7">
          {% for s in sections %}
            {% set blockName = s.blockID|replace({ '-block':'' }) %}
            {% if limit[blockName].val > 0 %}
            <div role="tabpanel" class="tab-pane fade in" id="combo-tab-{{ s.id }}" data-id="{{ s.id }}" data-limit="{{ limit[blockName].val }}" data-role="tab">
            <!-- items-list -->
            <div class="items-list combo-list" data-name="{{ s.name }}">
              <div class="block-title">
                <div class="info">!</div> {{ s.name }}: выбрано <span data-output="count"></span> из <span data-output="limit">{{ limit[blockName].val }}</span>
              </div>
              <div class="nano" data-role="scroll">
                <div class="nano-content">
                  <div class="row row--alt block-in">
                    {% for item in s.products.sortBy('sort') %}
                      {% if item.halfPizza != "1" %}
                        <div class="col-lg-3 col-md-3 col-sm-6">
                        <!-- item -->
                        {% set checked = false %}
                        {% if cart.details is defined and not null %}
                          {% for dK,dV in cart.details[s.name] %}
                              {% if dV == item.name %}
                                {% set checked = true %}
                              {% endif %}
                          {% endfor %}
                        {% endif %}
                        <div class="item combo-item text--center" data-role="item" data-id="{{ item.id }}" {{ checked == true ? 'style="pointer-events: auto;"' : '' }} data-name="{{ item.name }}">
                            <input type="hidden" name="price" data-full-price="{{ item.price }}" value="{{ item.comboprice }}" />
                            <input type="checkbox" id="{{ s.blockID|replace({ '-block':'' }) }}-{{ item.id }}" {{ checked == true ? 'checked' : '' }} />
                            <label for="{{ s.blockID|replace({ '-block':'' }) }}-{{ item.id }}" class="checkbox-alt">
                              <div class="img">
                                <div class="img--centered orange" data-role="lazyimg">
                                  <img data-src="/img/icon-pizza@2x.png" class="lazy" />
                                </div>
                              </div>
                              <div class="title">{{ item.name }}</div>
                              <div class="price text--gray"><span data-output="price"></span> EUR</div>
                            </label>
                          </div><!-- /item -->
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div><!-- /items-list -->
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5">
          <div class="combo-result">
            <div class="quantity"><i class="icon fa fa-user text--orange"></i> {{ combo.people }}</div>
            <div class="img text--center">
              <div class="img--centered orange" data-role="lazyimg">
                <img data-src="{{ combo.image }}" class="lazy" />
              </div>
            </div>
            <div class="meta text--gray">{{ combo.description|raw }}</div>
            <div class="amount text--center" style="display: none;" data-role="result">
              <div class="discount text--gray fullPriceCrossed">5 550 тг.</div>
              <span class="comboTotal" data-output="result"></span> тг. <a href="#" class="btn btn--primary comboAddCart btnDisabled">In den Warenkorb</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /section-combo -->
</main><!-- /.content -->
{% endblock %}