{% extends 'cms/layout/layout.html.twig' %}

{% block content %}
   <h1>{{ category.name }}</h1>
   <form method="POST">
      <ul>
         {% if characters is empty %}
             <p style="color: red;">В данном каталоге нету вложенных товаров чтобы фильтровать</p>
          {% else %}
              {% for character in characters %}
                  <li>
                      <input type="checkbox" id="check-{{ character.id }}" name="filters[]" value="{{ character.EtimClass }}|{{ character.name }}" {% if character.EtimClass in currentFilters %} checked {% endif %}> <label for="check-{{ character.id }}">{{ character.name }}</label>
                  </li>
              {% endfor %}
          {% endif %}

      </ul>
      <input type="submit" class="btn btn-success" value="сохранить">
   </form>
{% endblock %}