<h2>{{ Translation.of('recover')['title'] }}</h2>
<p>Был отправлен запрос на восстановление пароля. Новые данные ниже</p>
<p><b>{{ Translation.of('recover')['login'] }}:</b> {{ login }}</p>
<p><b>{{ Translation.of('recover')['pass'] }}:</b> {{ pass }}</p>